# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables de entorno y configuraciones sensibles
.env
.env.local
.env.production
.env.staging
.env.development
*.env

# Base de datos
*.db
*.sqlite3
db.sqlite3

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Media files (si los hay)
media/

# Static files recolectados
staticfiles/
static/

# Configuraciones específicas del proyecto
local_settings.py
mercadopago_service/payment_service/migrations/0003_paymentrequest_order_confirmed.py
